html,body,table {margin: 0; padding: 0;}
p {margin: 10px 0 10px 0; padding: 0;}
body {margin: 0; padding: 0px; background: #b3b3b3;}
body,p {font: 12px/14px arial, 'lucida grande', sans-serif; color: #000;}
img {border: 0;}
hr {border: none 0; border-top: 1px solid #ccc; height: 1px;}

/* Fonts */

h1 {font: bold 18px arial, 'lucida grande', sans-serif; color: #900; margin: 0;}
h2 {font: bold 17px arial, 'lucida grande', sans-serif; color: #369; margin: 0;}
h2 a:visited {font: bold 17px arial, 'lucida grande', sans-serif; color: #369; margin: 0;}
h2 a:link {font: bold 17px arial, 'lucida grande', sans-serif; color: #369; margin: 0;}
h2 a:active {font: bold 17px arial, 'lucida grande', sans-serif; color: #369; margin: 0;}
#mid_hdr {font: normal 24px arial, 'lucida grande', sans-serif; letter-spacing: -1px;}
#lg_hdr {font-size: 24px; letter-spacing: -1px;}
#lg_hdr a {font: bold 24px arial; letter-spacing: -1px; }
#lg_hdr_blk {font-size: 24px; color: #000; letter-spacing: -1px;}
#lg_hdr_blk a {font-size: 24px; color: #000; letter-spacing: -1px;}
.red_hdr {color: #900;}
.red_hdr_ln {color: #900; padding: 0 0 2px 0; margin: 0;}
.red_hdr_bx {height: 22px; border-bottom: 1px solid #ccc; padding: 0 0 1px 0; margin: 0 0 5px 0;}
h3 {font: bold 11px/18px verdana, 'lucida grande', sans-serif; color: #333; text-transform: uppercase; margin-bottom: 0;}
h4 {font: bold 12px/14px arial, 'lucida grande', sans-serif; color: #000; margin: 0;}
.nav_hdr {padding: 4px 0 0 0; margin: 0 0 3px 0; border-bottom: 1px solid #ccc;}
.grey_txt {color: #676767;}
.smtxt {font: normal 10px/14px arial, 'lucida grande', sans-serif;}
.bold {font-weight: bold;}
.bold_grey {font-weight: bold; color: #6A6A6A;}
.bold_red {font-weight: bold; color: #900;}

/* Search Form - All Forms */

fieldset {padding: 0; margin-top: 5px;}
#srchbox {
float: right;
padding: 23px 15px 0 0;
}
.search {text-align: right; border: 0 solid;}
.srch_input {margin-bottom: 5px; font: 11px/14px arial, 'lucida grande', sans-serif;}

label {
float: left;
width: 35%;
font-weight: bold;
color: #6A6A6A;
}
.form { border: 0 solid; }
#form { padding: 10px; color: #000; }
.input_bx, .input_select {clear: right; font: 11px/14px arial, 'lucida grande', sans-serif;}
.input_bx, textarea {
margin-bottom: 5px;
}
.input_select {
	width: 154px;
	margin: 0 0 5px 0;
}
textarea {
height: 100px;
}
.form_frame {
	background-color: #EEE; 
	margin: 10px 0; 
	border: 1px solid #666;
}
.form_frame_text {
	width: 241px; 
	height: 32px; 
	background-color: #DBDBDB;
}
/* Lists */

ul {margin: 0 0 10px 15px; padding: 0;}
li {font: normal 12px/16px arial, 'lucida grande', sans-serif;}

.mainnav li {font: bold 11px/17px arial, 'lucida grande', sans-serif;}
.mainnav li a:link {font: normal 11px/17px arial, 'lucida grande', sans-serif; color: #900;}
.mainnav li a:visited, a:active {font: normal 11px/17px arial, 'lucida grande', sans-serif; color: #900;}
.mainnav li a:hover {font: normal 11px/17px arial, 'lucida grande', sans-serif; color: #900; text-decoration: underline;}

.highlight {font: bold 11px/17px arial, 'lucida grande', sans-serif; color: #000;}
.highlight_bg {background: url("/images/letnav_highlight.gif") no-repeat; padding: 0 0 0 5px; margin: 0 0 0 -5px;}

/* Links */

a:link, a:visited, a:active {font: normal 12px/14px arial,'lucida grande', sans-serif; color: #369; text-decoration: none;}
a:hover {text-decoration: underline;}

a.art:link, a.art:visited, a.art:active {font: bold 12px/14px arial, 'lucida grande', sans-serif; color: #369;}
a.art:hover {text-decoration: underline;}

a.tab:link, a.tab:visited, a.tab:active {font: bold 12px/14px arial, 'lucida grande', sans-serif; color: #fff;}
a.tab:hover {text-decoration: underline;}

a.inactive:link, a.inactive:visited, a.inactive:active {font: bold 12px/14px arial, 'lucida grande', sans-serif; color: #369;}
a.inactive:hover {color: #fff; text-decoration: underline;}

a.red:link, a.red:visited, a.red:active {font: normal 12px/14px arial,'lucida grande', sans-serif; color: #900; text-decoration: none;}
a.red:hover {text-decoration: underline;}

a.grbx:link, a.grbx:visited, a.grbx:active {font: normal 11px/18px arial,'lucida grande', sans-serif; color: #369; text-decoration: none;}
a.grbx:hover {text-decoration: underline;}

a.sm:link, a.sm:visited, a.sm:active {font: normal 10px/14px arial, 'lucida grande', sans-serif; color: #369;}
a.sm:hover {text-decoration: underline;}

a.skip:link, a.skip:visited, a.skip:active {font: normal 9px arial, 'lucida grande', sans-serif; color: #d3d1d1;}
a.skip:hover {background: none;}

/* Global Elements */

#skipnav {
position: absolute;
top: 0;
right: 0;
}

.left {
float: left;
}
.right {
float: right;
}
.clear {
clear: both;
}
.center {
text-align: center;
}

/* Special Cases */

#no_pad1 {padding: 0;}/* Special case: All Complex column pages */
#no_pad2 {padding: 0;}
#no_pad3 {padding: 10px 0 0 0; margin: 10px 16px 10px 0;} /* Special case: Pro Con page */
#no_pad4 {padding: 10px 0 0 0; margin: 10px 0 10px 0;}
#no_pad5 {padding: 10px 0 0 0; margin: 10px 16px 0 0;} /* Special case: Pro Con page */
#no_pad6 {padding: 10px 0 0 0; margin: 10px 0 10px 0;}
#no_pad7 {padding: 10px 0 0 0; margin: 10px 16px 0 0;} /* Special case: Pro Con page */
#no_pad8 {padding: 10px 0 0 0; margin: 10px 0 10px 0;}
#pad_top {margin: 79px 0 20px 0; width: 648px;}
#pad_top2 {margin: 79px 0 -60px 0; width: 648px; padding-bottom: 0;}
#pad_btm {margin: 0 0 30px 0;}
#switch {padding: 10px 0 0 0; margin: 10px 16px 0 0; vertical-align: top;} /* Special case: IP-PBX Essentials page */
#switch2 {padding: 10px 0 0 0; margin: 10px 0 0 0;}

/* Special case: Pro Con page - table properties */
table.procon {border: 1px solid #fff; font: normal 10px/12px arial, 'lucida grande', sans-serif; color: #353535;}
.tbl_main {background: #ccc; vertical-align: top; padding: 5px 3px 5px 10px;}
.tbl_side {background: #95CCFF; font: bold 11px/14px arial, 'lucida grande', sans-serif; color: #003060; vertical-align: top; padding: 5px;}
.tbl_top {background: #95CCFF; font: bold 11px/14px arial, 'lucida grande', sans-serif; color: #003060; padding: 5px;}

/* Special case: Feature page, Interview page - Re-use of leftcol_sp and rightcol_sp further down the page made it necessary to zero the top margin */
#no_margtop {margin-top: 0;}
#no_margtop2 {margin-top: 0;}

/* Special case: link columns - line-height adjustment */
#lnk_lnht {line-height: 20px;}

/* Special case: Pages with multi-column link boxes - to separate columns in boxes whose width varies according to the parent container - customize an id for each case */
#lnkcol_wdth {width: 150px; line-height: 20px;}

/* Special case: All Complex column pages - Top border for Headline grey box */
#bdr {border-top: 1px solid #ccc; margin: 0 0 10px 0; padding-bottom: 25px;}
.bdr {border-top: 1px solid #ccc; margin: 0 0 10px 0; padding-bottom:
25px;}

/* Special case: IP-PBX Essentials page - Top border for Headline grey box, needed a width property */
#bdr2 {width: 617px ;border-top: 1px solid #ccc; margin: 0; padding: 15px;}

/* Special case: VoIP Jobs - to separate columns in boxes whose width varies according to the parent container - customize an id for each case */
#gr_bx_col_wdth {width: 150px;}

/* Special case: VoIP Jobs - added width property to overcome Safari bug */
#gr_bx_col_wdth2 {width: 420px; margin: 0 0 10px 0;}

/* Special case: Main page - added width property to overcome Safari bug */
#gr_bx_col_wdth3 {width: 309px; margin: 0 0 10px 0;}

/* Special case: All Complex column pages - added width property to overcome Safari bug */
#gr_bx_hdr_lnk_wdth {width: 186px; margin-top: 14px;}

/* Special case: Feature page - added width property to overcome Safari bug */
#gr_bx_hdr_lnk_wdth2 {width: 400px;}

/* Special case: All Complex column pages - added width property to overcome Safari bug */
#gr_bx_hdr_lnk_wdth3 {width: 186px;}

/* Special case: All Complex column pages - added width property to overcome Safari bug */
#gr_bx_hdr_lnk_wdth4 {width: 186px;}

/* Special case: All Complex column pages - Header becomes float container to contain floated elements; added width property to overcome Safari bug*/
.grey_bx_hdr_lnk {
float: left;
width: 183px;
margin: 0;
padding: 2px 10px 2px 10px;
background: #f8f8f8;
border: 1px solid #ccc;
}
/* Special case: IP-PBX Essentials page - Header becomes float container to contain floated elements; added width property to overcome Safari bug*/
.grey_bx_hdr_lnk2 {
float: left;
width: 289px;
margin: 0;
padding: 2px 10px 2px 10px;
background: #f8f8f8;
border: 1px solid #ccc;
}
/* Special case: VoIP Jobs - Height Setting to match double box row grey boxes - will have to customized for each case */
.grey_bx_jobs {
clear: both;
height: 60px;
margin: 0 0 10px 0;
padding: 10px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: #f8f8f8;
}
/* Special case: All Complex column pages - Height Setting to match triple box row grey boxes - will have to customized for each case */
.grey_bx_rsctr {
clear: both;
margin: 0 0 20px 0;
padding: 10px;
height: 80px;
min-height: 80px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: #f8f8f8;
}

/* Special case: All Complex column pages - main column container for complex columns - to keep floats toward the bottom from moving left when column length exceeds leftnav column length */
.mid_col {
float: left;
width: 648px;
margin: 0;
padding: 0;
}
.mid_col_webinar {
float: left;
width: 592px;
margin: 0;
padding: 0;
}

/* Special case: Webinar two column pages with no nav or right banner - to set up the skewed double column */
.webinar_col {
float: left;
width: 940px;
padding: 0 0 0 40px;
margin: 0;
}

/* Special case: All Complex column pages - to set up the skewed double column */
.skew_col {
float: left;
width: 648px;
margin: 0;
padding: 0;
}
.skew_col_webinar {
float: left;
width: 940px;
margin: 79px 0 20px 0;
padding: 0;
}
.skew_bx {
float: left;
width: 321px;
margin: 0 16px 0 0;
padding: 0;
}
.skew_bx2 {
float: left;
width: 311px;
margin: 0;
padding: 0;
}
.skew_bx3 {
float: right;
width: 311px;
margin: 0;
padding: 0;
}

/* Special case: Pros Cons page - long horizontal box for Article Tools links */
#grey_ln {border-top: 1px solid #ccc; padding: 0; margin: 0;}

/* Special case: Pros Cons page - long horizontal box for Article Tools links */
#grey_ln2 {border-top: 1px solid #ccc; padding: 0; margin: 0;}

/* Special case: Pros Cons page - long horizontal box for Article Tools links */
#grey_ln3 {border-top: 1px solid #ccc; padding: 0; margin: 0;}

/* Special case: Feature, Interview page - long horizontal box for Article Tools links */
#simple_bx {width: 632px; border: 1px solid #ccc; padding: 7px; margin: 0 16px 20px 0;}

/* Special case: Interview page - Rectangular box - 3rd column, top - customize padding to suit content*/
.simple_bx2 {border: 1px solid #ccc; padding: 10px 10px 33px 10px; margin: 0 0 20px 0;}

/* Special case: Webinar page - Rectangular box - 3rd column, top - customize padding to suit content*/
.simple_bx3 {border: 1px solid #ccc; padding: 5px; margin: 0 0 10px 15px;}

.job_app_bx {border-bottom: 1px solid #ccc; padding: 25px 0 15px 0;}

.blog_bx {
clear: both;
margin: 0 0 10px 0;
padding: 0 0 15px 0;
border-bottom: 1px solid #ccc;
}

/* End Special Cases */

/* Main Container */

#container {position: relative; margin: 0 auto 0 auto; width: 1000px;}

#containerbg {
position: absolute;
left: 0;
top: 13px;
width: 1000px;
background: #fff;
}

/* Header */

#header {
position: absolute;
left: 0;
top: 0;
width: 1000px;
height: 62px;
background: url("/images/header_background.gif") repeat-x;
}
#brand {
float: left;
}

/* MP Column 1: leftnav */

#leftnav {
float: left;
width: 144px;
height: auto;
padding: 72px 16px 50px 10px;
}

#leftnav ul {
list-style-type: none;
margin-left: 0;
}

/* MP Column 2: leftcol */

.leftcol {
float: left;
width: 311px;
margin: 72px 16px 0 0;
padding: 0 0 50px 0;
}
.leftcol_hdr {
height: 22px;
padding: 0;
margin: 0 0 10px 0;
border-bottom: 1px solid #ccc;
clear: both;
}

.smlink_hdr {padding: 7px 0 0 0;}
.smlink_hdr2 {padding: 5px 0 0 0;}
.sm_hdr {
width: 210px;
padding: 0;
font: normal 10px/14px arial, 'lucida grande', sans-serif;
color: #646464;
}
.sm_hdr_ln {
padding: 1px 0 0 10px;
border-left: 1px solid #ccc;
}

.sm_hdr_ln form {
	padding: 0;
	margin: 0;
}
.sm_hdr_ln #sub_button {
	width: 160px;
	font-size: 12px;
}

.newsletter_bg {
	background-color: #DDDDDD; 
	padding: 7px; 
	margin: 15px 0 5px 0;
}

.newsletter_box {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	text-decoration: none; 
	border: 1px #003366 solid; 
	color: #003366; 
	background-color: #FFFFFF; 
	margin: 0px 0 5px 0;
}

.newsletter_margin {
	padding-bottom: 10px;
}

.articl_icon {
float: left;
margin: 3px 5px 7px 0;
border: 1px solid #000;
}
.articl_bx { margin: 0 0 7px 0; clear: both; }
.articl_bx_btm {height: 65px; margin: 0 0 15px 0;}
.articl_bx2 {margin: 0 0 10px 0;}
.articl_bx2_btm {margin: 0 0 15px 0;}
.articl_bx2_top {margin: 25px 0 10px 0;}

.tab_bx_hdr {width: 311px; height: 18px; margin: 0; padding: 0; border-bottom: 2px solid #540000;}

.tab1 {
float: left;
height: 15px;
width: 102px;
margin: 0;
padding: 3px 0 0 0;
text-align: center;
background: url("/images/tab_active_bg.gif") repeat-x;
}

.tabInactive {
background: url("/images/tab_inactive_bg.gif") repeat-x;
}

.tabActive {
background: url("/images/tab_active_bg.gif") repeat-x;
}

.tab1 a {
display: block;
width: 100%;
height: 100%;}

.tab2 {
float: left;
height: 15px;
width: 102px;
margin: 0 0 0 2px;
padding: 3px 0 0 0;
text-align: center;
background: url("/images/tab_inactive_bg.gif") repeat-x;
}
.tab3 {
float: right;
height: 15px;
width: 102px;
margin: 0;
padding: 3px 0 0 0;
text-align: center;
background: url("/images/tab_inactive_bg.gif") repeat-x;
}
.tab_bx {
display: block;
clear: both;
margin: 0 0 20px 0;
padding: 2px 8px 0 8px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: url("/images/tab_subtitle_background.gif") no-repeat;
height: auto;
min-height: 250px;
}
.tab_bxOff {
display: none;
clear: both;
margin: 0 0 20px 0;
padding: 2px 8px 0 8px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: url("/images/tab_subtitle_background.gif") no-repeat;
height: auto;
min-height: 250px;
}
.tab_bx_nbg {
clear: both;
margin: 0 0 20px 0;
padding: 10px 8px 0 8px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
height: auto;
min-height: 80px;
}
.tab_bx_nbgOff {
display: none;
clear: both;
margin: 0 0 20px 0;
padding: 10px 8px 0 8px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
height: auto;
min-height: 80px;
}

/* MP Column 3: rightcol */

.rightcol {
float: left;
width: 311px;
margin: 72px 0 0 0;
padding: 0 0 50px 0;
}
.rightcol_hdr {
height: 22px;
padding: 0;
margin: 0 0 10px 0;
border-bottom: 1px solid #ccc;
}
.rightcol_hdr_nobdr {
height: 22px;
padding: 0;
margin: 0 0 10px 0;
}
.grey_bxcol_hdr {
clear: both;
margin: 0;
padding: 2px 10px 2px 10px;
background: #f8f8f8;
border: 1px solid #ccc;
}
.grey_bxcol {
float: left;
margin: 0;
padding: 0;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: #f8f8f8;
}
.pb_col1 {
float: left;
width: 90px;
margin: 0;
padding: 10px 0 10px 10px;
}
.pb_col2 {
float: left;
margin: 0;
padding: 10px 0 10px 0;
}
.pb_col3 {
float: right;
width: 91px;
margin: 0;
padding: 10px 10px 10px 10px;
}

.grey_bx_hdr {
margin: 0;
height: 15px;
padding: 2px 10px 2px 10px;
background: #f8f8f8;
border: 1px solid #ccc;
}
.grey_bx {
clear: both;
margin: 0 0 10px 0;
padding: 10px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
background: #f8f8f8;
}
.grey_bx_full {
clear: both;
margin: 0 0 10px 0;
padding: 10px 10px 15px 10px;
border: 1px solid #ccc;
background: #f8f8f8;
height: 100%;
min-height: 60px;
}
.grey_bx_webinar {
float: left;
width: 592px;
margin: 0 0 0px 0;
padding: 10px 10px 10px 10px;
border: 1px solid #ccc;
background: #f8f8f8;
height: 100%;
min-height: 50px;
}
.grey_bx_lft {
float: left;
width: 205px;
margin: 0 10px 0 0;
padding: 0;
}
.grey_bx_rt {
float: left;
width: 205px;
margin: 0;
padding: 0;
}

.blue_bx_hdr_lnk2 {
width: 289px;
margin: 0; 
padding: 5px 10px 2px 10px; 
background: #CEDAF0;
border: 1px solid #000;
border-bottom: none;
border-top: 1px solid #000;
font-size: 14px;
font-weight: bold;
}

.blue_bx {
clear: both;
margin: 0 0 10px 0;
padding: 10px;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px solid #000;
background: #CEDAF0;
color: #000;
}
.blue_bx label {
color: #000;
}

/* MP Column 4 */

#ad4_rt {
position: absolute;
top: 78px;
left: 830px;
width: 160px;
padding: 0;
margin: 0;
}

/* MP Bottom Row */
#mp_bottomRow {
clear: both;
float: left;
margin-top: 25px;
padding-left: 170px;
width: 640px;
height: 500px;
}

/* Ads */
#ad1_top {text-align: center; margin: 10px 0 0 0;}
#ad2 {clear: both; margin: 0; padding: 30px 0 20px 0;}
#ad3 {clear: both; margin: 30px 0 0 0; padding: 0 0 30px 0;}

/* Footer */

#footer {
clear: both;
float: left;
width: 830px;
margin: 0;
padding: 20px 0 20px 170px;
border-top: 1px solid #ccc;
font: 10px/18px arial, 'lucida grande', sans-serif;
}

#footer a {font: 10px/18px arial, 'lucida grande', sans-serif !important;}

#footer-wiki {
clear: both;
position: absolute;
bottom: -180px;
left: 0px;
height: 150px;
margin: 0;
width: 830px;
padding: 20px 0 20px 170px;
border-top: 1px solid #ccc;
background-color: #FFF;
font: 10px/18px arial, 'lucida grande', sans-serif;
}

/* Subpage 4-column layout elements */

.leftcol_sp {
float: left;
width: 422px;
margin: 72px 16px 0 0;
padding: 0 0 50px 0;
}

.leftcol_sp_hdr {
padding: 0 0 60px 0;
margin: 7px 0 0 0;
}

.rightcol_sp {
float: left;
width: 208px;
margin: 72px 0 0 0;
padding: 0 0 50px 0;
}

.rightcol_sp_hdr {
padding: 0 0 35px 0;
margin: 7px 0 25px 0;
}

/* mct */
#commStr {
clear: both;
float: right;
}
#commMess {
font-weight: bold;
color: #900;
}

#switcher_select {
font-size: 9px;
margin: 0;
padding: 0;
}

#switcher_form {
margin: 0;
padding: 0;
}

#switcher_progress {
display: none;
margin-top: -4px;
}

#switcher_redir {
margin: 10px 0 0 0;
padding: 0;
}

#getInformed {
margin: 0 35px 0 0;
}

.paginationFooter {
border: 1px solid #ccc;
margin: 20px 0 20px 0;
padding: 5px;
width: 250px;
}

h1.resComp {
width: 580px;
}

#resCompMain {
width: 550px;
padding: 10px;
}

.resCompVendor {
float: left;
margin: 20px 0 0px 0;
padding: 0 0 10px 0;
width: 100%;
border-bottom: 1px solid #ccc;
}

.resCompLogo {
float: left;
width: 120px;
margin-top: 15px;
}

.resCompText {
float: left;
width: 300px;
margin: 0 10px 20px 10px;
list-style-type: square;
}

.resCompLearnImage {
float: right;
width: 100px;
margin-top: 19px;
}

.resBand {
float: left;
border: 1px solid #ccc;
padding: 7px;
margin-top: 20px;
width: 555px;
}

.resCompText ul li {
list-style-type: square;
}
#bwForm {
border: 1px solid #ccc;
padding: 0 0 10px 10px;
}
#bwText ul {
margin: 0 0 0 15px;
list-style-type: square;
}
#rcBoxes {
margin: 10px 0 0 0;
padding: 0;
width: 100%;
}
#rcBoxes .grey_bx_rt {
margin: 0 10px 0 0;
}
#rcHighlights {
height: 80px;
}
#rcWhitepapers {
height: 155px;
min-height: 155px;
}
#rcInner {
margin-bottom: 30px;
}
.number { margin: 10px 0 0 0; width: 400px; float: left;  }
.num { margin-left: 20px; float: left; width: 15px; }
.numText { float: right; width: 340px;}

.related_articles {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.related_articles ul {
	margin: 10px 0 10px 55px;
	padding: 0;
}
.related_articles li {
	margin: 0;
	padding: 0;
}
#related_bottom .related_articles {
	border: 0;
}
#related_bottom .related_articles ul {
	margin: 10px 0;
}
#related_bottom .related_articles li {
	list-style-type: none;
}
.digg {
	padding: 0 0 10px 15px;
}